body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

#root {
  height: 100%;
  position: inherit;
  padding: 0;
  margin: 0;
  position: 0;
}

html, body {
  overflow: auto;
  min-height: 100% !important;
}

#centered-container {
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.col .align-self-center {
  text-align: center;
}

.margin-bot {
  margin-bottom: 20px;
}

.file-input {
  width: 300px;
  padding: 5px;
}

.choose-file-button {
  margin-left: 97px;
  position: relative;
  box-sizing: inherit;
}

#file-form {
  margin: auto;
}

#logo {
  height: 150px;
  width: 150px;
  margin-bottom: 30px;
}

.upload {
  display: inline;
}

.bottom-form {
  min-height: 100% !important;
  min-weight: 100% !important;
}
